.home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: fit-content;
}

#welcome {
    font-size: 4rem;
}

.intro-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.2em;
    text-align: left;
    border: 2px solid var(--yellow);
    border-radius: 0px;
    border-style: solid;
    padding: 16px;
    width: 80%;
    margin-top: 3em;
    box-sizing: border-box;
}

#intro-text {
    max-width: auto;
    margin-left: 1em;
}

#profile-img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 1.2em;
}

.resume {
    width: 80%;
    margin-top: 1.2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    padding: 0;
    box-sizing: border-box;
}
  
.skill {
    border: 2px solid var(--yellow);
    padding: 20px;
    text-align: center;
    margin-bottom: 1.2em;
    flex-grow: 1;
    max-width: 100%;
    box-sizing: border-box;
}

.skill h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.grid-list {
    list-style-type: none;
    padding: 0;
}

.grid-list li {
    font-size: 16px;
    margin: 5px 0;
}
  