.home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: fit-content;
}

#welcome-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 160px;
    width: 100%;
    background-color: var(--dark);
}

#welcome {
    font-size: 5em;
}

#intro-container {
    padding: 2em;
    padding-inline: 10vw;
}

#intro-container p {
    font-family: 'Roboto Mono', monospace;
    padding: 16px;
    border: 2px solid white;
    border-style: dashed;
    border-radius: 16px;
    font-size: 1.2em;
}