.home {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
}

#welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}