iframe {
    width: 1246px;
    max-width: 80%;
    height: 700px;
    padding: 16px;
    border: 2px solid var(--yellow);
    border-radius: 0px;
    border-style: dashed;
}

.projects {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#project-container {
    margin-top: 24px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
    justify-items: center;
}