.project {
    width: 1246px;
    height: 700px;
}

.showcase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 16px;
    max-width: 80%;
    border: 2px solid var(--yellow);
    border-radius: 0px;
    border-style: solid;
}

.showcase-title {
    width: 100%;
    text-align: left;
}

.showcase-text {
    font-family: 'Roboto Mono', monospace;
    text-align: left;
    width: 1246px;
}

.projects {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#project-container {
    margin-top: 24px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
    justify-items: center;
}